# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# Test files
text-ui-test/actual/

src/main/java/tags
tags

DukeData/
DukeData2/

src/main/java/META-INF/
text-ui-test/inputs/done.txt

temp
